[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
progress = "==1.5"
autopep8 = "==1.5.6"
pycodestyle = "==2.7.0"
toml = "==0.10.2"

[requires]
python_version = "3.8"
